<!DOCTYPE html>
<html>
<head>
  <title>神人百科</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
	<p class="navbar-text text-center navbar-bottom">反馈邮箱: 2243980491@qq.com </p>
</footer>
</body>
</html>
